
/* main feed header */
.main_feed_header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 163, 163);
    background-color: white;
    z-index: 100;
}
.main_feed_header > *{
    margin: 10px;
} 


/* tweet section */
.feed_header{
    display: flex;
    border-bottom: 10px solid rgb(163, 163, 163);;
}
.feed_header_form{
    flex: 1;
}
.feed_avatar{
    padding: 10px;
    margin-top: 20px;
    margin-left: 10px;
}
.feed_header_form > form {
    display: flex;
    flex-direction: column;
}

.feed_input{
    padding: 20px;
    display: flex;
}
.feed_input > input {
    margin-top: 16px;
    margin-left: 10px;
    flex: 1;
    outline: none;
    border: 0;
    /* padding: 30px; */
}
.feed_btn_tweet{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    /* margin-left: auto !important; */
}
.tweet_data > * {
    margin: 0 10px;
    cursor: pointer;
}
.feed_tweet_submit_btn{
    background-color: #1DA1F2 !important;
    width: 80px;
    margin: 10px !important;
    color: rgb(253, 251, 251) !important;
    font-weight: 800 !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 10px !important;
    margin-right: 20px !important;
}


@media all and (max-width: 700px) {
    .schdule_icon{
        display: none !important;
    }
    .sort_icon{
        display: none !important;
    }
    .feed_btn_tweet{
        margin-top: 5px;
    }
}
