.mobile__nav{
    position: fixed;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    visibility: hidden;
}

.mobile__nav > .MuiSvgIcon-root {
    margin: 10px 15px;
}

@media all and (max-width: 700px) {
    .mobile__nav{
        visibility: visible;
    }
}