.app{
    display: flex;
    max-width: 1400px;
    height: 100vh;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
}
.mid_feed_section{
    flex: 0.5;
    border-right: 1px solid rgb(163, 163, 163);
    overflow-y: scroll;
}
.mid_feed_section::-webkit-scrollbar{
    display: none;
}
.sidebar_section{
     flex: 0.3;
     padding-top: 10px;
    /* padding: 20px; */
    border-right: 1px solid rgb(163, 163, 163);
}

.widget_section{
    flex: 0.3;
    margin: 5px 15px 0 20px
}

@media all and (max-width: 1300px) {
    .app{
        margin: 0 auto;
        max-width: 1100px;
    }
    .mid_feed_section{
        flex: 0.7;
    }
    .sidebar_section{
        flex: 0.2
    }
}

@media all and (max-width: 1200px) {
    .widget_section{
        display: none;
    }
}

@media all and (max-width: 1050px) {
    .app{
        margin: 0 auto;
        max-width: 1000px;
    }
    .mid_feed_section{
        flex: 0.7;
    }
}

@media all and (max-width: 700px) {
    .mid_feed_section{
        flex: 1;
    }
    .sidebar_section{
        display: none;
    }
}